#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export CARGO_HOME=${CURDIR}/debian/temp/cargo-build

%:
	dh $@

.PHONY: override_dh_auto_build
override_dh_auto_build:
	mkdir -p ${CARGO_HOME}
	cargo build --release

.PHONY: override_dh_strip
override_dh_strip:
#	dh_strip --dbg-package=alacritty-dbg

.PHONY: override_dh_auto_install
override_dh_auto_install:
	install -D -m 644 target/release/alacritty debian/alacritty/usr/bin/alacritty

.PHONY: override_dh_clean
override_dh_clean:
	rm -rf target

.PHONY: override_dh_installman
override_dh_installman:
	cp alacritty.man ${CURDIR}/debian/temp/alacritty.1
	dh_installman
